<% include ../partials/header %>

<header class="ui huge header"><i class="user icon"></i> <%= user.forename + " " + user.surname %></header>

<header class="ui small header">Date created</header>
<span><%= user.created.toDateString() %></span>

<header class="ui small header">Last modified</header>
<span><%= user.modified.toDateString() %></span>

<header class="ui big header">Contents</header>
<div class="ui top attached segment">
	
</div>

<header class="ui big header">Approved rigs</header>
<div class="ui segment">
	<% if(!user.approvedRigs.length) { %>
		<div class="item">None</div>
	<% } %>
	<% user.approvedRigs.forEach(function(rig) {%>
		<div class="item">
			<a href="/rigs/<%= rig._id %>"><%= rig.name %></a>
		</div>
	<% }); %>
</div>



<a href="/users" class="ui blue inverted button">Go back</a>

<% if(currentUser && (currentUser.isAdmin || currentUser.canEditRigs)) { %>
	<a href="/users/<%= user._id %>/edit" class="ui yellow button">Edit</a>
	<form action="/users/<%= user._id %>?_method=DELETE" method="POST">
		<button class="ui negative button ">Delete</button>
	</form>
<% } %>

<% include ../partials/footer %>