<% include ../partials/header %>

<header class="ui huge header"><i class="setting icon"></i> Edit <%= rig.name %></header>

<form action="/rigs/<%= rig._id %>?_method=PUT" method="POST" class="ui form">
	<div class="field required">
		<label>Rig name</label>
		<input type="text" name="name" value="<%= rig.name %>">
	</div>
	<div class="inline fields">
		<label>Main canopy</label>
		<div class="field">
			<label>Manufacturer</label>
			<input type="text" name="main[make]" value="<%= rig.main.make %>">
		</div>
		<div class="field">
			<label>Model</label>
			<input type="text" name="main[model]" value="<%= rig.main.model %>" placeholder="Model">
		</div>
		<div class="field">
			<label>Size (ft<sup>2</sup>)</label>
			<input type="text" name="main[size]" value="<%= rig.main.size %>">
		</div>
	</div>
	<div class="inline fields">
		<label>Reserve canopy</label>
		<div class="field">
			<label>Manufacturer</label>
			<input type="text" name="reserve[make]" value="<%= rig.reserve.make %>">
		</div>
		<div class="field">
			<label>Model</label>
			<input type="text" name="reserve[model]" value="<%= rig.reserve.model %>">
		</div>
		<div class="field">
			<label>Size (ft<sup>2</sup>)</label>
			<input type="text" name="reserve[size]" value="<%= rig.reserve.size %>">
		</div>
	</div>
	<div class="field">
		<label>Approved users</label>
		<div class="ui fluid multiple search selection dropdown">
			<input type="hidden" name="approvedUsers">
			<i class="dropdown icon"></i>
			<div class="default text">Select users</div>
			<div class="menu">
				<% users.forEach(function(user) {%>
					<div class="item" data-value="<%= user._id %>"><%= user.forename + " " + user.surname %></div>
				<% }); %>			
			</div>
		</div>
	</div>
	<button type="submit" class="ui fluid blue big button">Save</button>
	<button type="reset" class="ui blue inverted button">Clear</button>
	<a href="/rigs" class="ui blue inverted button">Go back</a>
</form>

<script>
	$(".ui.dropdown")
		.dropdown()
		<% rig.approvedUsers.forEach(function(user) { %>
			.dropdown("set selected", "<%= user %>")
		<% }) %>
	;
</script>

<% include ../partials/footer %>