<% include ../partials/header %>

<header class="ui huge header"><i class="umbrella icon"></i><%= rig.name %></header>

<header class="ui big header">Contents</header>
<div class="ui segment">
	<header class="ui header">Main</header>
	<p><%= rig.main.make %> <strong><%= rig.main.model + " " + rig.main.size %></strong></p>
	
	<header class="ui header">Reserve</header>
	<p><%= rig.reserve.make %> <strong><%= rig.reserve.model + " " + rig.reserve.size %></strong></p>	
</div>

<header class="ui big header">Calendar</header>
<div class="ui segment">
	<header class="ui small header">
		Green = available<br>
		Orange = booked<br>
		Red = out of action<br>
		White = non-jumping day
	</header>
	<table class="ui seven column large celled table" id="calendarTable">
		<thead>
			<tr>
				<th colspan="9"><div class="ui ribbon label"><span id="monthLabel">?</span></div></th>
			</tr>
			<tr class="center aligned">
				<th>Mon</th>
				<th>Tue</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri</th>
				<th>Sat</th>
				<th>Sun</th>
			</tr>
		</thead>
		<tbody>
			<% for(var row = 0; row < 6; row++) { %>
				<tr>
					<% for(var col = 0; col < 7; col++) { %>
						<td class="selectable center aligned" onClick="calendarDayClicked(this.getAttribute('day'), this.getAttribute('month'), this.getAttribute('year'))"><a>?</a></td>
					<% } %>
				</tr>				
			<% } %>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="7">
					<button class="ui tiny left floated icon button" onClick="changeMonthClicked(false)">
						<i class="left chevron icon"></i>
					</button>
					<button class="ui tiny right floated icon button" onClick="changeMonthClicked(true)">
						<i class="right chevron icon"></i>
					</button>
				</th>
			</tr>
		</tfoot>
	</table>
	<!-- <div class="ui calendar">
	</div> -->
</div>

<header class="ui big header">Approved users</header>
<div class="ui segment">
	<% if(!rig.approvedUsers.length) { %>
		<div class="item">None</div>
	<% } %>
	<% rig.approvedUsers.forEach(function(user) {%>
		<div class="item">
			<a href="/users/<%= user._id %>"><%= user.forename + " " + user.surname %></a>
		</div>
	<% }); %>
</div>

<div class="ui segment">
	<header class="ui small header">Date created</header>
	<span><%= rig.created.toDateString() %></span>

	<header class="ui small header">Last modified</header>
	<span><%= rig.modified.toDateString() %></span>
</div>


<a href="/rigs" class="ui blue inverted button">Go back</a>

<% if(currentUser && (currentUser.isAdmin || currentUser.canEditRigs)) { %>
	<a href="/rigs/<%= rig.id %>/edit" class="ui yellow button">Edit</a>
<% } %>





<script>
	var today = new Date();
	var selectedMonth = today.getMonth();
	var selectedYear = today.getFullYear();

    $(".ui.calendar")
    	.calendar({
        	type: "date",
        	inline: true,
        	minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate()),
        	maxDate: new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())
        });

    
    function daysInMonth(iMonth, iYear)
	{
		return 32 - new Date(iYear, iMonth, 32).getDate();
	}


	function changeMonthClicked(up) {
		selectedMonth += up ? 1 : -1;
		if(selectedMonth == 12) {
			selectedYear++;
			selectedMonth = 0;
			console.log("next year " + selectedYear);
		} else if(selectedMonth == -1) {
			selectedYear--;
			selectedMonth = 11;
			console.log("prev year " + selectedYear);
		}
		updateCalendar();
	}


	function updateMonthLabel() {
		var monthStrings = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
		$("#monthLabel")[0].textContent = monthStrings[selectedMonth];
	}


	function updateCalendar() {
		var table = $("#calendarTable")[0];

    	updateMonthLabel();

    	var totalDaysPrev = daysInMonth(selectedMonth - 1, selectedYear);
    	var totalDays = daysInMonth(selectedMonth, selectedYear);

    	var startDayOfWeek = (new Date(selectedYear, selectedMonth, 1)).getDay() - 1;

    	var index = 0;
    	var counter = 0;
    	var day, month, year;
    	var currMonth = selectedMonth;
    	var currYear = selectedYear;
	    for(var row = 0; row < 6; row++) {
	    	for(var col = 0; col < 7; col++) {
	    		if(row == 0 && (col < startDayOfWeek)) {
	    			month = currMonth - 1;
	    			if(month == -1) {
	    				month = 11;
	    				year = currYear - 1;
	    			} else {
	    				year = currYear;
	    			}
    				day = (totalDaysPrev - (startDayOfWeek - (col + 1)));
    			} else {
    				year = currYear;
    				month = currMonth;
    				day = index + 1;
    				
    				if(++index == totalDays) {
    					currMonth++;
    					if(currMonth == 12) {
    						currMonth = 0;
    						currYear++;
    					}
	    				index = 0;
	    			}
	    		}

	    		var html
	    		if((counter == 0 && index >= today.getDate()) ||
	    		   (counter != 0 && counter < 6)) {
	    			counter++;
	    			html = "<a><strong>"+day+"</strong></a>";
	    		} else {
	    			html = "<a><em>"+day+"</em></a>";
	    		}

	    		var cell = table.tBodies[0].rows[row].cells[col];
	    		cell.innerHTML = html;
	    		cell.setAttribute("day", day);
	    		cell.setAttribute("month", month);
	    		cell.setAttribute("year", year);

	    		switch(col) {
	    			case 0: case 1: case 3:
	    				// Non-jumping days - Blank
	    				break;
	    			default:
	    				// Jumping days - Green
	    				cell.classList.add("positive");	
	    		}
	    	}
	    }
	}


    $(document).ready(function() {
    	updateCalendar();
    });


    function calendarDayClicked(day, month, year) {
    	month = parseInt(month);
    	alert("Calendar day clicked... " + day + "-" + (month+1) + "-" + year);
    }



</script>

<% include ../partials/footer %>