<% include ../partials/header %>

<header class="ui huge header"><i class="umbrella icon"></i><%= rig.name %></header>

<header class="ui big header">Contents</header>
<div class="ui segment">
	<header class="ui header">Main</header>
	<p><%= rig.main.make %> <strong><%= rig.main.model + " " + rig.main.size %></strong></p>
	
	<header class="ui header">Reserve</header>
	<p><%= rig.reserve.make %> <strong><%= rig.reserve.model + " " + rig.reserve.size %></strong></p>	
</div>

<header class="ui big header">Calendar</header>
<div class="ui segment">
	<header class="ui small header">
		Green = available<br>
		Orange = booked<br>
		Red = out of action<br>
		White = non-jumping day
	</header>
	<div class="calendar-container">
	</div>
</div>

<header class="ui big header">Approved users</header>
<div class="ui segment">
	<% if(!rig.approvedUsers.length) { %>
		<div class="item">None</div>
	<% } %>
	<% rig.approvedUsers.forEach(function(user) {%>
		<div class="item">
			<a href="/users/<%= user._id %>"><%= user.forename + " " + user.surname %></a>
		</div>
	<% }); %>
</div>

<div class="ui segment">
	<header class="ui small header">Date created</header>
	<span><%= rig.created.toDateString() %></span>

	<header class="ui small header">Last modified</header>
	<span><%= rig.modified.toDateString() %></span>
</div>


<a href="/rigs" class="ui blue inverted button">Go back</a>

<% if(currentUser && (currentUser.isAdmin || currentUser.canEditRigs)) { %>
	<a href="/rigs/<%= rig.id %>/edit" class="ui yellow button">Edit</a>
<% } %>


<script type="text/javascript" src="/calendar.js"></script>

<% include ../partials/footer %>