<% include ../partials/header %>

<header class="ui huge header"><i class="edit icon"></i> Edit <%= position.name %></header>

<div class="ui segment">
	<form action="/committee/<%= position._id %>?_method=PUT" method="POST" class="ui form">
		<div class="field required">
			<label>Position name</label>
			<input type="text" name="name" value="<%= position.name %>">
		</div>
		<div class="field">
			<label>User</label>
			<div class="ui fluid search selection dropdown">
				<input type="hidden" name="user">
				<i class="dropdown icon"></i>
				<div class="default text">Select users</div>
				<div class="menu">
					<div class="item" data-value="">None</div>
					<% users.forEach(function(user) {%>
						<div class="item" data-value="<%= user._id %>"><%= user.forename + " " + user.surname %></div>
					<% }); %>			
				</div>
			</div>
		</div>
		<div class="field">
			<label>Description</label>
			<textarea type="text" name="description" placeholder="Description and responsibilities of the position"><%= position.description %></textarea>
		</div>
		<button type="submit" class="ui fluid blue big button">Update</button>
	</form>
</div>

<a href="/committee/<%= position._id %>" class="ui blue inverted button">Go back</a>
<a class="ui negative button" id="deleteButton">Delete</a>



<div class="ui mini modal" id="deleteModal">
	<div class="ui icon header">
		<i class="warning icon"></i>
		Are you sure you want to delete <%= position.name %>?
	</div>
	<div class="content">
		<form action="/committee/<%= position._id %>?_method=DELETE" method="POST" id="modalForm">
		</form>		
		<p>All saved information will be lost.<br><strong>This cannot be undone!</strong></p>
	</div>
	<div class="actions">
		<div class="ui green cancel inverted button">
			<i class="remove icon"></i>
			Cancel
		</div>
		<div class="ui red ok inverted button" onClick="javascript:document.forms['modalForm'].submit();">
			<i class="checkmark icon"></i>
			Delete
		</div>
	</div>
</div>







<script>
	$(document).ready(function() {
		$("#deleteButton").click(function() {
			$("#deleteModal")
				.modal({
					closable: 	false
				})
				.modal('show')
			;
		});
	});


	$(".ui.dropdown")
		.dropdown("set selected", "<%= position.user %>");
</script>

<% include ../partials/footer %>