<% include ../partials/header %>

<header class="ui huge header"><i class="info circle icon"></i> <%= position.name %></header>

<header class="ui big header">User</header>
<div class="ui segment">
	<% if(position.user) { %>
		<header class="ui header">Name</header>
		<div class="item">
			<a href="/users/<%= position.user._id %>"><%= position.user.forename + " " + position.user.surname %></a>
		</div>
		<header class="ui header">Email</header>
		<div class="item"><%= position.user.email %></div>
	<% } else { %>
		None
	<% } %>	
</div>

<header class="ui big header">Description and resposibilities</header>
<div class="ui segment">
	<div class="item">
		<% if(position.description.length) { %>
			<%= position.description %>
		<% } else { %>
			None given
		<% } %>
	</div>
</div>

<div class="ui segment">
	<header class="ui small header">Date created</header>
	<span><%= position.created.toDateString() %></span>

	<header class="ui small header">Last modified</header>
	<span><%= position.modified.toDateString() %></span>
</div>

<a href="/committee" class="ui blue inverted button">Go back</a>

<% if(currentUser && (currentUser.isAdmin || currentUser.isCommittee)) { %>
	<a href="/committee/<%= position._id %>/edit" class="ui yellow button">Edit</a>
<% } %>

<% include ../partials/footer %>