<% include ../partials/header %>

<div class="ui huge header"><i class="users icon"></i> Committee</div>
<p>View the current committee</p>

<table class="ui striped celled table">
	<thead>
		<tr>
			<th>Position</th>
			<th>Name</th>
			<th>Email</th>
		</tr>	
	</thead>
	<tbody>
		<% committeePositions.forEach(function(position) { %>
			<tr>
				<td>
					<a href="/committee/<%= position._id %>"><%= position.name %></a>
				</td>
				<td>
					<% if(position.user) { %>
						<a href="/users/<%= position.user._id %>"><%= position.user.forename + " " + position.user.surname %></a>
					<% } %>
				</td>
				<td>
					<% if(position.user) { %>
						<%= position.user.email %>
					<% } %>
				</td>
			</tr>
		<% }); %>
	</tbody>
</table>

<% if(currentUser && (currentUser.isAdmin || currentUser.isCommittee)) { %>
	<a class="ui green button" href="/committee/new">Add comittee role</a>
<% } %>

<% include ../partials/footer %>